python==3.7.10
pandas==1.2.4
numpy==1.19.2
tqdm==4.59.0
scikit-learn==0.22.1
nltk==3.4.5
pytorch==1.8.1
-c conda-forge transformers==4.5.1
-c conda-forge tokenizers==0.10.1
regex==2021.3.17
statsmodels==0.12.2
scipy==1.4.1